<div id="bottom">
    <span id="copywrite">
        <i class="far fa-copyright"></i>2019 Parq, Inc. All Rights Reserved
    </span>
    <a href="/contact">CONTACT</a>
    <a href="/Terms">TERMS & CONDITIONS</a>
    <a href="/privacy">PRIVACY POLICY</a>
    <a href="/faq">FAQs</a>
    <span id="backUp">
        <a href="#"><i class="fas fa-arrow-up"></i></a>
    </span>
</div>