<div id="bottom">
    <span id="copywrite">
        <i class="far fa-copyright"></i>2019 Parq, Inc. All Rights Reserved
    </span>
    <a href="/careers">CONTACT</a>
    <a href="/legal">TERMS & CONDITIONS</a>
    <a href="/legal">PRIVACY POLICY</a>
    <a href="/faq">FAQs</a>
    <span id="backUp">
        <i class="fas fa-arrow-up"></i>
    </span>
</div>