<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Welcome!</h3>
            <img src="/Assets/NavBar/uimage@3x.svg" alt="">
            <!-- <button type="button" class="btn btn-primary btn-xs">Login/Sign Up</button> -->
            <!-- <a role="button" id="loginButton" href="" class="btn btn-primary btn-xs">Login/Sign Up</a> -->
            <button class="btn btn-primary btn-xs" id="loginButton">Login/Sign Up</button>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">HOME</a> -->
                <a href="/">HOME</a>
                <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul> -->
            </li>
            <li>
                <a href="#">FIND PARKING</a>
                <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">BECOME A HOST</a> -->
                <a href="/becomehost">BECOME A HOST</a>
                <!-- <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul> -->
            </li>
            <li>
                <a href="#">GET FREE PARKING</a>
            </li>
            <li>
                <a href="#">HOW IT WORKS</a>
            </li>
            <li>
                <a href="#">LEGAL</a>
            </li>
            <li>
                <a href="/careers">CAREERS</a>
            </li>
        </ul>

        <!-- <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to the article</a></li>
        </ul> -->
        <div id="navBottom">
            <p>ParkPlace on the App Store!</p>
            <!-- <a href="#"> -->
                <img src="/Assets/NavBar/ParqLogoNav.png" alt="">
            <!-- </a> -->
            <p>Download Now!</p>
            <span class="icons">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
            </span>
        </div>

    </nav>
</div>