<div class="wrapperMobile">
    <!-- Sidebar Holder -->
    <nav id="sidebarMobile">
        <img id="dismiss" src="/Assets/Mobile/NavBar/hamburgerMenu.svg" alt="">
        <div class="sidebar-header">
            <h3>Welcome!</h3>
            <img src="/Assets/NavBar/uimage@3x.svg" alt="">
            <a role="button" id="loginButton" href="#" class="btn btn-primary btn-xs">Login/Sign Up</a>
        </div>
        <ul class="list-unstyled components Mobile">
            <li class="active">
                <a href="/">HOME</a>
            </li>
            <!-- <li>
                <a href="#">FIND PARKING</a>
                <a href="#pageSubmenu">BECOME A HOST</a>
            </li> -->
            <!-- <li>
                <a href="#">GET FREE PARKING</a>
            </li> -->
            <li>
                <a href="/howitworks">HOW IT WORKS</a>
            </li>
            <li>
                <a href="/legal">LEGAL</a>
            </li>
            <li>
                <a href="#">CAREERS</a>
            </li>
        </ul>
        <div id="navBottomMobile">
            <p>Parq on the go!</p>
            <a href="https://google.com">
                <img src="/Assets/NavBar/ParqLogoNav.png" alt="">
            </a>
            <p>Download Now!</p>
            <span class="iconsMobile">
                <a href="https://www.instagram.com/the_parkplace/" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="https://www.facebook.com/The-Park-Place-336334907005684/?ref=bookmarks" class="fab fa-facebook-f"></a>
            </span>
        </div>
    </nav>
</div>