<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Welcome!</h3>
            <img src="/Assets/NavBar/uimage@3x.svg" alt="">
            <button class="btn btn-primary btn-xs" id="loginButton" disabled>Login/Sign Up</button>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/">HOME</a>
            </li>
            <!-- <li> -->
            <!-- <span href="">FIND PARKING - (Coming Soon...)</span> -->
            <!-- <a href="">FIND PARKING  (Coming Soon...)</a> -->
            <!-- <span href="/becomehost">BECOME A HOST - (Coming Soon...)</span> -->
            <!-- <a href="/becomehost">BECOME A HOST  (Coming Soon...)</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <span href="#">GET FREE PARKING - (Coming Soon...)</span> -->
            <!-- <a href="#">GET FREE PARKING</a> -->
            <!-- </li> -->
            <li>
                <a href="/howitworks">HOW IT WORKS</a>
            </li>
            <li>
                <a href="/legal">LEGAL</a>
            </li>
            <li>
                <a href="/careers">CAREERS</a>
            </li>
        </ul>
        <div id="navBottom">
            <p>ParkPlace on the App Store!</p>
            <a href="https://apps.apple.com/us/app/parkplace-app/id1458947395"> 
                <img src="/Assets/NavBar/ParqLogoNav.png" alt="">
            </a>
            <p>Download Now!</p>
            <span class="icons">
                <a href="https://www.instagram.com/the_parkplace/" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="https://www.facebook.com/The-Park-Place-336334907005684/?ref=bookmarks"
                    class="fab fa-facebook-f"></a>
            </span>
        </div>

    </nav>
</div>