<div id="id01" class="modalSignup">
    <form class="modal-contentSignup" action="/action_page.php">
        <div class="loginBack">
            <div class="imgcontainer">
                <span class="close" title="Close Modal">&times;</span>
                <h1>Welcome!</h1>
                <img src="/Assets/LoginForm/uimage@3x.svg" alt="Avatar" class="avatar">
            </div>
            <div class="container signupContent">
                <input type="text" placeholder="Full Name" name="name" required class="signupForm">
                <hr class="inputLineSignup">
                <input type="text" placeholder="Email" name="email" required class="signupForm">
                <hr class="inputLineSignup">
                <input type="password" placeholder="Password" name="password" required class="signupForm">
                <hr class="inputLineSignup">
                <input type="password" placeholder="Repeat Password" name="password" required class="signupForm">
                <hr class="inputLineSignup">
                <input type="text" placeholder="Add Referral Code" name="referral" required class="signupForm">
                <hr class="inputLineSignup">
                <label class="container" id="termsLine">
                    <input type="checkbox">
                    <span class="agreeToTerms"> Agree to our <a href="">Terms and Conditions</a></span> 
                </label>

                <div class="formButtons">
                    <div>
                        <span id="alreadyHave">Already have an account? <span id="returnToLogin">Login</span></span>
                        <button id="signupFormClick2" type="submit">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>