<% include ./partials/header %>

<body>
    <div class="desktopView">
        <div>
            <% include ./partials/sideNav %>
        </div>
        <div class="parent">
            <div id="howItWorks">
                <h1>How it Works</h1>
                <div id="toggleDiv">
                    <a class="howItWorksToggle" role="button" href="#">Booking a Spot</a>
                    <a class="howItWorksToggle" role="button" href="#">Becoming a Host</a>
                </div>

                <p id="howItWorksBlurb">
                    ParkPlace is a peer-to-peer marketplace <br>
                    where property owners can rent out <br>
                    their real-estate to drivers looking to <br>
                    park on an hourly, daily, and monthly basis.
                </p>
            </div>
            <div id="guestText">
                <h1>Guest</h1>
                <div id="guestStep1">
                    <img src="/Assets/HowItWorks/AppIcon@3x.svg" alt="">
                    <div id="guestStep1Text"> <span id="guestStep1Header">1. Download the app</span>
                        <div id="guestStep1Sub">Get the free ParkPlace app on all IOS devices!</div>
                    </div>
                </div>
                <div id="guestStep2">
                    <div id="guestStep2Text"> <span id="guestStep2Header">2. Search</span>
                        <div id="guestStep2Sub">Set your location and preference for flat or hourly rate parking. <br>
                            Choose your favorite spot to view the details.
                        </div>
                        <img src="/Assets/HowItWorks/guestStep2.svg" alt="">

                    </div>

                </div>
            </div>
            <% include ./partials/bottomNav.ejs %>
        </div>
    </div>

    <div class="mobileView">
        <div>
            <% include ./partials/sideNavMobile %>
        </div>
        <span id="hamburgerMenu">
            <img id="sidebarCollapse" src="/Assets/Mobile/NavBar/hamburgerMenu.svg" alt="">
        </span>
        <div class="mobileParent">

        </div>
    </div>



    <% include ./partials/footer %>