<% include ./partials/header %>

<body>
    <div class="desktopView">
        <div>
            <% include ./partials/sideNav %>
        </div>
        <div class="parent">
            <video preload="auto" autoplay muted loop id="animation">
                <source src="/Assets/Backgrounds/Parq_NewWebsite_AnimationLayers_V4.mp4" type="video/mp4">
            </video>
            <img class="logo" src="/Assets/Backgrounds/Parq_logo2.png" alt="parqLogo">
            <!-- <h2 id="temporarySearch">Search Address of Event</h2> -->
            <div id="searchbarRectangle">
                <span id="searchbarText">Find it</span>
                <i class="fas fa-caret-right" id="searchbarArrow"></i>
                <input type="search" name="search" id="searchbar" placeholder="Search Address or Event">
                <i class="fas fa-search" id="magnifyGlass"></i>
            </div>

            <img id="noQuestion" src="/Assets/steps/noQuestion@2x.png" alt="">
            <div class="row one">
                <span>
                    <!-- <img class="steps" id="findIt" src="/Assets/steps/findIt@2x.png" alt=""> -->
                    <img rel="preload" class="steps" id="findIt" src="/Assets/steps/findit.svg" alt="">
                    <img id="finditPop" class="popups" src="/Assets/popUp/findItPop@2x.png" alt="">
                    <!-- <button type="button" class="btn btn-primary btn-xs" id="finditRead" href="https://www.google.com">Read More</button> -->
                    <a role="button" class="btn btn-primary btn-xs readMoreButtons" id="finditRead" href="#">Read More</a>
                </span>
                <span>
                    <img class="steps" id="bookIt" src="/Assets/steps/bookIt@2x.png" alt="">
                    <img src="/Assets/popUp/bookitPop@2x.png" class="popups" alt="" id="bookitPop">
                    <a role="button" class="btn btn-primary btn-xs readMoreButtons" id="bookitRead" href="#">Read More</a>
                </span>
                <span>
                    <!-- <img class="steps" id="parqIt" src="/Assets/steps/parqIt@2x.png" alt=""> -->
                    <img class="steps" id="parqIt" src="/Assets/steps/parqit.svg" alt="">
                    <img src="/Assets/popUp/parqitPop@2x.png" alt="" class="popups" id="parqitPop">
                    <a role="button" class="btn btn-primary btn-xs readMoreButtons" id="parqitRead" href="#">Read More</a>
                </span>
            </div>
            <div class="row two">
                <img class="becomeHost" src="/Assets/becomeHost@2x.png" alt="">
                <a role="button" class="btn btn-primary btn-xs" id="moneyButton" href="#">I Like Money</a>
            </div>
            <div class="row three">
                <img class="testimonials" src="/Assets/Testimonials@2x.png" alt="">
            </div>

            <% include ./partials/loginForm.ejs %>
            <% include ./partials/signupForm.ejs %>

            <div id="bottom">
                <span id="copywrite">
                    <i class="far fa-copyright"></i>2019 Parq, Inc. All Rights Reserved
                </span>
                <a href="/contact">CONTACT</a>
                <a href="/Terms">TERMS & CONDITIONS</a>
                <a href="/privacy">PRIVACY POLICY</a>
                <a href="/faq">FAQs</a>
                <span id="backUp">
                    <a href="#"><i class="fas fa-arrow-up"></i></a>
                </span>
            </div>
        </div>
    </div>

    <div class="mobileView">
        <div>
            <% include ./partials/sideNavMobile %>
            <!-- <div class="overlay"></div> -->
        </div>
        <span id="hamburgerMenu">
            <img id="sidebarCollapse" src="/Assets/Mobile/NavBar/hamburgerMenu.svg" alt="">
        </span>
        <div class="mobileParent">
            <img id="mobileLogo" src="/Assets/Mobile/Background/Parq_logo.svg" alt="">
            <div id="searchbarRectangleMobile">
                <input type="search" name="search" id="searchbarMobile" placeholder="Search Address or Event">
                <i class="fas fa-search" id="magnifyGlassMobile"></i>
            </div>
            <img id="noQuestionMobile" src="/Assets/steps/noQuestion@2x.png" alt="">
            <div class="row one Mobile">
                <span>
                    <!-- <img class="stepsMobile" id="findItMobile" src="/Assets/steps/findit.svg" alt=""> -->
                    <img class="stepsMobile" id="findItMobile" src="/Assets/steps/findIt@2x.png" alt="">
                    <img id="finditPopMobile" class="popupsMobile" src="/Assets/popUp/findItPop@2x.png" alt="">
                    <!-- <button type="button" class="btn btn-primary btn-xs" id="finditRead" href="https://www.google.com">Read More</button> -->
                    <a role="button" class="btn btn-primary btn-xs readMoreButtonsMobile" id="finditReadMobile" href="#">Read
                        More</a>
                </span>
                <span>
                    <img class="stepsMobile" id="bookItMobile" src="/Assets/steps/bookIt@2x.png" alt="">
                    <img src="/Assets/popUp/bookitPop@2x.png" class="popupsMobile" alt="" id="bookitPopMobile">
                    <a role="button" class="btn btn-primary btn-xs readMoreButtonsMobile" id="bookitReadMobile" href="#">Read
                        More</a>
                </span>
                <span>
                    <img class="stepsMobile" id="parqItMobile" src="/Assets/steps/parqIt@2x.png" alt="">
                    <img src="/Assets/popUp/parqitPop@2x.png" alt="" class="popupsMobile" id="parqitPopMobile">
                    <a role="button" class="btn btn-primary btn-xs readMoreButtonsMobile" id="parqitReadMobile" href="#">Read
                        More</a>
                </span>
            </div>
        </div>
        <div id="rowtwoMobile">
            <img id="becomeHostMobile" src="/Assets/Mobile/becomeHostMobile@2x.png" alt="">
            <a role="button" class="btn btn-primary btn-xs" id="moneyButtonMobile" href="#">I Like Money</a>
        </div>
        <div class="rowthreeMobile">
            <!-- <h3 id="quotesHeader">What the people are saying...</h3> -->
            <div class="quotesDiv">
                <h3 id="quotesHeader">What the people are saying...</h3>
                <img id="quotesMobile" src="/Assets/Mobile/quotes.svg" alt="">
            </div>
        </div>
    </div>



    <% include ./partials/footer %>