/* Bottom Nav */
#copywrite{
    font-family: Open Sans;
    float: left;
  }
  #backUp {
    float: right;
    padding-right: 3%;
    padding-left: 3%;
  }
  
  #bottom {
    position: relative;
    color: #fff;
    font-size: .8em;
    padding-top: 1.3%;
    padding-bottom:1.3%;
    padding-left: 1.3%;
    /* padding: 1.3%; */
    background: #2699FB;
    text-align: center;
  }
  
  #bottom a{
    color: white;
    font-weight: light;
    margin: 1%;
  }
