/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    /* border-bottom: 0.5px solid #ccc; */
    box-sizing: border-box;
    background: none;
    color: white;
    opacity: 1.5;
    font-weight: lighter;
  }
  input:focus{
    outline: none;
  }
  .inputLine{
      width: 89%;
      margin-top: -1%;
      margin-left: 4.7%;
      background-color: white;
      border-color: white;
      opacity: 0.5;
  }
  .container.loginForm{
  }
  .container.loginForm.iPad{
      width: 550px;
  }

  #welcomeLogin{
      padding-top: 12%;
  }
  /* input[type=text]::placeholder, input[type=password]::placeholder{
      color: white;
  } */
  body{
    background-image: url(/Assets/LoginForm/signupbg_1242x2208@3x.svg);
    background-position: top 3em left -1em;
    background-repeat: no-repeat;
    background-size: 39em;
  }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #remember{
      color: white;
      font-size: 70%;
      top: -0.6em;
      position: relative;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 0.72em;
    width: 0.77em;
    left: 1px;
    bottom: 1.55px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #orLogin{
      width: 85%;
      margin-left: 7%;
  }
  
  input:checked + .slider {
    background-color: #8DAEF9;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 1.7em;
    height: 0.9em;
    margin-left: 1.8%;
    margin-top: -5%;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
/* ******************* */

  form h1{
      text-align: center;
      margin-bottom: -1%;
      padding-top: 5%;
      color: white;
      font-size: 200%;
      font-weight: bold;
  }

  form h1.iPad{
    padding-top: 15%;
    font-size: 350%;
  }

  .loginBack{
    background-image: url(/Assets/LoginForm/signupbg_1242x2208@3x.svg);
    background-position: top -3em left -1em;
    background-repeat: no-repeat;
    background-size: 39em;
    color: white;
    /* margin-top: -6%; */
    /* border: 12px solid #707070; */
  }
  .loginBack.iPad{
      background-size: 59em;
  }
  .formButtons{
      /* padding: 5px; */
  }

  .formButtons.iPhone5{
    margin-bottom: 15%;
  }
  
  /* Set a style for all buttons */
  #loginFormClick {
    background-color: white;
    color: #3C75F8;
    padding: 10px 20px;
    border-radius: 36px;
    margin: 8px 0;
    margin-left: 5%;
    border: none;
    cursor: pointer;
    width: 90%;
  }
  #loginFormClick.facebook{
      margin-bottom: 32px;
  }
  #signupFormClick {
    background: none;
    color: white;
    /* padding: 10px 20px; */
    padding: 10px 39%;
    border-radius: 36px;
    margin: 8px 0;
    margin-left: 4.5%;
    border: 0.5px solid white;
    cursor: pointer;
    width: 90%;
  }

  #signupFormClick.iPhone5{
    padding: 10px 36%;
    margin-bottom: 25px;
  }

  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: -5.15% 0 9% 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  span.psw {
    /* float: right; */
    /* padding-top: 16px; */
    color: white;
    font-size: 70%;
    margin-left: 50%;
    position: relative;
    top: -0.8em;
  }
  span.psw.iPhone6{
    margin-left: 44%;
  }
  span.psw.iPhone5{
    margin-left: 34%;
  }

  span.psw a{
    /* float: right; */
    /* padding-top: 16px; */
    color: white;
  }
  
  /* The Modal (background) */


  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    width: 100%; /* Could be more or less, depending on screen size */
    box-shadow: none;
    border: 1px solid #407AF4;
  }
  .modal-content.iPhone5{
    top: -1em;
  }
  

  @media screen and (max-width: 768px){
    .mobileView {
      display: block;
    }
    body{
      background:#407AF4; 
    }
  }


/* NavBar */
.wrapperMobile {
    /* display: flex; */
    display: flex;
    position: fixed;
    align-items: stretch;
    font-weight: lighter;
    width:53%;
    /* top: 84%; */
    top: 0;
    left: -450px;
    transition: all 0.3s ease-in-out;
  }
  .wrapperMobile.iPad{
      top: 65%;
  }
.wrapperMobile.active {
    left: 0;
}

#sidebarCollapse{
    float: left;
    position: fixed;
    top: 0;
}
#sidebarCollapse.iPad{
    width: 8%;
}
#sidebarCollapse.displayNone{
    display: none;
}

#dismiss{
    position: fixed;
    top: 0;
}
#dismiss.iPad{
    width: 8%;
}
  
  #sidebarMobile {
    /* min-width: 250px; */
    /* position: absolute; */
    /* width: 19%; */
    /* margin-top: -63%; */
    /* margin-top: -161.2%;*/ /* for iphone 6 */
    /* margin-top: -295%; */
    background: #2F4968;
    color: #fff;
    transition: all 0.3s;
    font-weight: 100;
    left: -250px;
    justify-content: center;
  }
  #sidebarMobile.iPad{
      margin-top: -164.8%;
  }
  .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}
  
  #sidebarMobile a,
  #sidebarMobile a:hover,
  #sidebarMobile a:focus {
    color: inherit;
  }
  
  #sidebarMobile.active {
    margin-left: -250px;
  }
  
  #sidebarMobile .sidebar-header {
    padding: 10%;
    padding-bottom: 10px;
    background: #2F4968;
    /* margin-top: -30%; */
  }

  #sidebarMobile .sidebar-header h3{
      font-weight: 100;
      font-size: 1.4em;
      text-align: center;
      padding-bottom: 0;
      padding-top: 5%;
      margin-bottom: 0;
  }

  #sidebarMobile .sidebar-header img{
    width: 70%;
    position: relative;
    left: 15%;
  }

#sidebarMobile .sidebar-header #loginButton{
    /* position: relative; */
    margin-left: 18.2%;
    font-size: 100%;
    padding: 3%;
    background: #3973F1;
    border-radius: 50px;
    width: 68%;
    /* height: 2.5em; */
    -moz-border-radius: 50px;
}

#sidebarMobile .sidebar-header #loginButton.iPhone5{
  font-size: 88%;
}


  #sidebarMobile ul.components {
    /* padding: 3px 0; */
    padding-left: 15%;
    /* padding-bottom: 3px; */
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
  }
  
  #sidebarMobile ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebarMobile ul li a {
    padding: 10px;
    font-weight: light;
    font-size: 100%;
    display: block;
  }
  #sidebarMobile ul li a.iPhone5 {
    padding: 10px;
    font-weight: light;
    font-size: 80%;
    display: block;
  }
  
  #sidebarMobile ul li a:hover {
    color: #7386D5;
    background: #fff;
    text-decoration: none;
  }
  
 
  
  /* a[data-toggle="collapse"] {
    position: relative;
  }
   */
  /* a[aria-expanded="false"]::before,
  a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
  }
   */
  /* a[aria-expanded="true"]::before {
    content: '\e260';
  } */
  
  ul.Mobile ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }
  
  ul.Mobile.CTAs {
    padding: 20px;
  }
  
  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  a.download {
    background: #fff;
    color: #7386D5;
  }
  
  a.article,
  a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
  }

  #navBottomMobile{
    /* padding-top: 15px; */
    font-weight: 600;
    text-align: center;
  }
  #navBottomMobile p{
    margin: 0 0 3px;
  }
  #navBottomMobile p.iPhone5{
      font-size: 75%;
      margin: 0 0 1px;
  }

  #navBottomMobile img{
      width: 35%;
  }
  #navBottomMobile img.iPhone5{
    width: 30%;
}
  

  .iconsMobile i{
      margin: 3%;
      padding-bottom: 150px;
      /* width: 50%; */
  }

  
  