/* The Modal (background) */
.modalSignup {
    display: none; 
   /* display: block; */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   padding-top: 60px;
 }
 .modalSignup.open{
     display: block;
 }
 .loginBackMobile{
    background-image: url(/Assets/LoginForm/signupbg_1242x2208@3x.svg);
    background-position: top -3em left -1em;
    background-repeat: no-repeat;
    background-size: 43em;
    color: white;
    /* margin-top: -6%; */
    /* border: 12px solid #707070; */
  }
  .loginBackMobile.iPad{
      background-size: 57em;
  }
 
 /* Modal Content/Box */
 .modal-contentSignup {
   margin: 0.5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
   width: 100%; /* Could be more or less, depending on screen size */
 }
 
 .signupContent{
     /* margin-top: -10%; */
     /* border: 3px solid #407AF4; */
 }
 .signupContent.iPad{
     width: 80%;
 }
 
 .inputLineSignup{
   width: 90%;
   margin-top: 0%;
   margin-left: 4.4%;
   background-color: white;
   border-color: white;
   opacity: 0.5;
}
input[type=text].signupForm, input[type=password].signupForm {
   width: 100%;
   padding: 1px 20px;
   margin: 8px 0;
   display: inline-block;
   border: none;
   /* border-bottom: 0.5px solid #ccc; */
   box-sizing: border-box;
   background: none;
   font-weight: lighter;
   color: white;
   opacity: 1.5;
 }

 .agreeToTerms{
     color: white;
     opacity: 0.5;
     font-weight: lighter;
 }
 .agreeToTerms a{
   color: white;
   opacity: 0.5;
   font-weight: lighter;
}

#termsLine{
   margin-top: -5%;
   margin-left: 0.3%;
}

#signupFormClick2{
   background: white;
   color: #3C75F8;
   padding: 10px 20px;
   border-radius: 36px;
   margin: 8px 0;
   margin-left: 7%;
   border: 0.5px solid white;
   cursor: pointer;
   width: 40%;
}
#signupFormClick2.iPhone6{
  margin-left: 4%;
}

#signupFormClick2.iPad{
    margin-left: 21%;
}

#alreadyHave{
   margin-left: 4.3%;
   font-size: 95%;
   color: white;
   opacity: 0.5;
   font-weight: lighter;
}

#alreadyHave a{
   color: white;
   opacity: 1;
}

#returnToLogin{
   cursor: pointer;

}

 
/* NavBar */
.wrapperMobile {
    /* display: flex; */
    display: flex;
    position: fixed;
    align-items: stretch;
    font-weight: lighter;
    width:53%;
    top: 0;
    left: -450px;
    transition: all 0.3s ease-in-out;
  }
  .wrapperMobile.iPad{
      top: 65%;
  }
.wrapperMobile.active {
    left: 0;
}

#sidebarCollapse{
    float: left;
    position: fixed;
    top: 0;
}
#sidebarCollapse.iPad{
    width: 8%;
}
#sidebarCollapse.displayNone{
    display: none;
}

#dismiss{
    position: fixed;
    top: 0;
}
#dismiss.iPad{
    width: 8%;
}
  
  #sidebarMobile {
    /* min-width: 250px; */
    /* position: absolute; */
    /* width: 19%; */
    /* margin-top: -63%; */
    /* margin-top: -161.2%;*/ /* for iphone 6 */
    /* margin-top: -295%; */
    background: #2F4968;
    color: #fff;
    transition: all 0.3s;
    font-weight: 100;
    left: -250px;
    justify-content: center;
  }
  #sidebarMobile.iPad{
      margin-top: -164.8%;
  }
  .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}
  
  #sidebarMobile a,
  #sidebarMobile a:hover,
  #sidebarMobile a:focus {
    color: inherit;
  }
  
  #sidebarMobile.active {
    margin-left: -250px;
  }
  
  #sidebarMobile .sidebar-header {
    padding: 10%;
    padding-bottom: 10px;
    background: #2F4968;
    /* margin-top: -30%; */
  }

  #sidebarMobile .sidebar-header h3{
      font-weight: 100;
      font-size: 1.4em;
      text-align: center;
      padding-bottom: 0;
      padding-top: 5%;
      margin-bottom: 0;
  }

  #sidebarMobile .sidebar-header img{
    width: 70%;
    position: relative;
    left: 15%;
  }

#sidebarMobile .sidebar-header #loginButton{
    /* position: relative; */
    margin-left: 18.2%;
    font-size: 100%;
    padding: 3%;
    background: #3973F1;
    border-radius: 50px;
    width: 68%;
    /* height: 2.5em; */
    -moz-border-radius: 50px;
}


  #sidebarMobile ul.components {
    /* padding: 3px 0; */
    padding-left: 15%;
    /* padding-bottom: 3px; */
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
  }
  
  #sidebarMobile ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebarMobile ul li a {
    padding: 10px;
    font-weight: light;
    font-size: 100%;
    display: block;
  }
  #sidebarMobile ul li a.iPhone5 {
    padding: 10px;
    font-weight: light;
    font-size: 80%;
    display: block;
  }
  
  #sidebarMobile ul li a:hover {
    color: #7386D5;
    background: #fff;
    text-decoration: none;
  }
  
 
  
  /* a[data-toggle="collapse"] {
    position: relative;
  }
   */
  /* a[aria-expanded="false"]::before,
  a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
  }
   */
  /* a[aria-expanded="true"]::before {
    content: '\e260';
  } */
  
  ul.Mobile ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }
  
  ul.Mobile.CTAs {
    padding: 20px;
  }
  
  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  a.download {
    background: #fff;
    color: #7386D5;
  }
  
  a.article,
  a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
  }

  #navBottomMobile{
    /* padding-top: 15px; */
    font-weight: 600;
    text-align: center;
  }
  #navBottomMobile p{
    margin: 0 0 3px;
  }
  #navBottomMobile p.iPhone5{
      font-size: 75%;
      margin: 0 0 1px;
  }

  #navBottomMobile img{
      width: 35%;
  }
  #navBottomMobile img.iPhone5{
    width: 30%;
}
  

  .iconsMobile i{
      margin: 3%;
      padding-bottom: 150px;
      /* width: 50%; */
  }

  
  